@media screen and (max-width: 1600px) {
}
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
  main {
    article {
      img {
        height: 130px;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 992px) {
  main {
    article {
      img {
        height: 110px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  /*----------------------------------------------------------------

フォントサイズ

----------------------------------------------------------------*/
.f_10 {
  font-size: 2.8vw;
}
.f_12 {
  font-size: 2.8vw;
}
.f_14 {
  font-size: 2.8vw;
}
.f_16 {
  font-size: 3.2vw;
}
.f_18 {
  font-size: 3.6vw;
}
.f_20 {
  font-size: 3.8vw;
}
.f_22 {
  font-size: 4vw;
}
.f_24 {
  font-size: 4.2vw;
}
.f_26 {
  font-size: 4.4vw;
}
.f_28 {
  font-size: 4.6vw;
}
.f_30 {
  font-size: 4.6vw;
}
.f_32 {
  font-size: 4.8vw;
}
.f_34 {
  font-size: 4.8vw;
}
.f_36 {
  font-size: 4.8vw;
}
.f_38 {
  font-size: 5.0vw;
}
.f_40 {
  font-size: 5.0vw;
}
.f_42 {
  font-size: 5.0vw;
}
.f_44 {
  font-size: 5.2vw;
}
.f_46 {
  font-size: 5.2vw;
}
.f_48 {
  font-size: 5.4vw;
}
.f_50 {
  font-size: 5.4vw;
}
.f_52 {
  font-size: 5.6vw;
}
.f_54 {
  font-size: 5.6vw;
}
.f_56 {
  font-size: 5.8vw;
}
.f_58 {
  font-size: 5.8vw;
}
.f_60 {
  font-size: 6.0vw;
}
.f_62 {
  font-size: 6.0vw;
}
.f_64 {
  font-size: 6.2vw;
}
.f_66 {
  font-size: 6.2vw;
}
.f_68 {
  font-size: 6.4vw;
}
.f_70 {
  font-size: 6.4vw;
}
.f_72 {
  font-size: 6.6vw;
}
.f_74 {
  font-size: 6.6vw;
}
.f_76 {
  font-size: 6.8vw;
}
.f_78 {
  font-size: 6.8vw;
}
.f_80 {
  font-size: 7.0vw;
}
.f_82 {
  font-size: 7.0vw;
}
.f_84 {
  font-size: 7.2vw;
}
.f_86 {
  font-size: 7.2vw;
}
.f_88 {
  font-size: 7.4vw;
}
.f_90 {
  font-size: 7.4vw;
}
.f_92 {
  font-size: 7.6vw;
}
.f_94 {
  font-size: 7.6vw;
}
.f_96 {
  font-size: 7.8vw;
}
.f_98 {
  font-size: 7.8vw;
}
.f_100 {
  font-size: 8.0vw;
}
.f_102 {
  font-size: 8.0vw;
}
.f_104 {
  font-size: 8.2vw;
}
.f_106 {
  font-size: 8.2vw;
}
.f_108 {
  font-size: 8.4vw;
}
.f_110 {
  font-size: 8.4vw;
}
.f_112 {
  font-size: 8.6vw;
}
.f_114 {
  font-size: 8.6vw;
}
.f_116 {
  font-size: 8.8vw;
}
.f_118 {
  font-size: 8.8vw;
}
.f_120 {
  font-size: 9.0vw;
}
.f_122 {
  font-size: 9.0vw;
}
.f_124 {
  font-size: 9.2vw;
}
.f_126 {
  font-size: 9.2vw;
}
.f_128 {
  font-size: 9.4vw;
}
.f_130 {
  font-size: 9.4vw;
}
.f_132 {
  font-size: 9.6vw;
}
.f_134 {
  font-size: 9.6vw;
}
.f_136 {
  font-size: 9.8vw;
}
.f_138 {
  font-size: 9.8vw;
}
.f_140 {
  font-size: 10vw;
}
.f_142 {
  font-size: 10vw;
}
.f_144 {
  font-size: 10.2vw;
}
.f_146 {
  font-size: 10.2vw;
}
.f_148 {
  font-size: 10.4vw;
}
.f_150 {
  font-size: 10.4vw;
}
.f_152 {
  font-size: 10.6vw;
}
.f_154 {
  font-size: 10.6vw;
}
.f_156 {
  font-size: 10.8vw;
}
.f_158 {
  font-size: 10.8vw;
}
.f_160 {
  font-size: 11vw;
}
.f_162 {
  font-size: 11vw;
}
.f_164 {
  font-size: 11vw;
}

  $m: 20;
  $mt: margin-top;
  $mb: margin-bottom;
  $ml: margin-left;
  $mr: margin-right;

  @while $m <= 200 {
    .mt {
      &#{$m} {
        #{$mt}: #{$m * 0.10}vw;
      }
    }
    .mb {
      &#{$m} {
        #{$mb}: #{$m * 0.10}vw;
      }
    }
    .ml {
      &#{$m} {
        #{$ml}: #{$m * 0.10}vw;
      }
    }
    .mr {
      &#{$m} {
        #{$mr}: #{$m * 0.10}vw;
      }
    }
    .my {
      &#{$m} {
        #{$mt}: #{$m * 0.10}vw;
        #{$mb}: #{$m * 0.10}vw;
      }
    }
    .mx {
      &#{$m} {
        #{$ml}: #{$m * 0.10}vw;
        #{$mr}: #{$m * 0.10}vw;
      }
    }
    $m: $m + 20;
  }

  $p: 20;
  $pt: padding-top;
  $pb: padding-bottom;
  $pl: padding-left;
  $pr: padding-right;

  @while $p <= 200 {
    .pt {
      &#{$p} {
        #{$pt}: #{$p * 0.10}vw;
      }
    }
    .pb {
      &#{$p} {
        #{$pb}: #{$p * 0.10}vw;
      }
    }
    .pl {
      &#{$p} {
        #{$pl}: #{$p * 0.10}vw;
      }
    }
    .pr {
      &#{$p} {
        #{$pr}: #{$p * 0.10}vw;
      }
    }
    .py {
      &#{$p} {
        #{$pt}: #{$p * 0.10}vw;
        #{$pb}: #{$p * 0.10}vw;
      }
    }
    .px {
      &#{$p} {
        #{$pl}: #{$p * 0.10}vw;
        #{$pr}: #{$p * 0.10}vw;
      }
    }
    $p: $p + 20;
  }

  .sp {
    display: block !important;
  }
  .pc {
    display: none !important;
  }


  .sp-flex {
    display: flex !important;
  }
  .pc-flex {
    display: none !important;
  }

  ::placeholder {
    font-size: 3.6vw;
    letter-spacing: 0.12em;
    color: #cccccc;
  }

  .wrap_btn {
    right: 5px;
    bottom: 25px;
    width: 40px;
    height: 40px;
  }
  .wrap_btn_img {
    width: 40px;
    height: 40px;
  }
  .wrap_btn_img:hover {
    opacity: 1;
  }
  .wrap_btn p {
    font-size: 12px;
  }

  .hamburger {
    .hamburger-contents {
      .sp-logo {
        position: fixed;
        top: 0;
        left: 0;
        height: 60px;
        width: 100%;
        z-index: 1002;
        padding-left: 0px;
        transition: all 0.4s;
        background: #ffffff;
        display: flex;
        justify-content: start;
        align-items: center;
        a {
          padding-left: 10px;
          max-width: 200px;
          width: 45%;
          img {
            width: 100%;
            height: auto;
          }
        }
        box-shadow: 0px 0px 20px 0 rgba(51, 243, 230, 0.3);
      }
      .contact-btn {
        z-index: 1003;
        position: fixed;
        top: 0;
        right: 60px;
        width: 90px;
        height: 60px;
        background: linear-gradient(
          90deg,
          rgba(51, 143, 230, 1) 0%,
          rgba(88, 213, 223, 1) 100%
        );
      }
      .menu-trigger {
        z-index: 1003;
        position: fixed;
        top: 0px;
        right: 0px;
        width: 60px;
        height: 60px;
        padding: 20px 16px;
        span {
          z-index: 1003;
          display: inline-block;
          box-sizing: border-box;
          position: absolute;
          left: 16px;
          width: 28px;
          height: 1px;
          background-color: #0080c7;
          transition: all 0.4s ease;
          &:nth-of-type(1) {
            top: 20px;
          }
          &:nth-of-type(2) {
            top: 29px;
          }
          &:nth-of-type(3) {
            bottom: 21px;
          }
        }
        &.active {
          span {
            &:nth-of-type(1) {
              transform: rotate(-45deg);
              margin-top: 9px;
            }
            &:nth-of-type(2) {
              opacity: 0;
            }
            &:nth-of-type(3) {
              transform: rotate(45deg);
              margin-bottom: 9px;
            }
          }
        }
      }
      nav {
        position: absolute;
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        position: fixed;
        bottom: 0%;
        transform: translateY(-150%);
        transition: 0.5s ease-in-out;
        padding: 60px 10px 30px;
        overflow: auto;
        z-index: 1000;
        &.open {
          transform: translateY(0);
          z-index: 1000;
          transition: 0.5s ease-in-out;
        }
        .nav-inner {
          width: 90%;
          margin: auto;
          padding-top: 40px;
          .ham-patient-list {
            margin-bottom: 10px;
            a {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 55px;
              margin-bottom: 6px;
              position: relative;
            }
            .ham-big {
              background-color: #58d5df;
              border: 1px solid #02bfbf;
              width: 100%;
            }
            .ham-small {
              background-color: #d3f7f2;
              width: 49%;
              border-radius: 10px;
              span {
                position: absolute;
                right: 0px;
              }
            }
          }
          .ham-medical-list {
            margin-bottom: 10px;
            a {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 55px;
              margin-bottom: 6px;
              position: relative;
            }
            .ham-big {
              background-color: #63a9ec;
              border: 1px solid #338fe6;
              width: 100%;
            }
            .ham-small {
              background-color: #d3edf7;
              width: 49%;
              border-radius: 10px;
              span {
                position: absolute;
                right: 0px;
              }
            }
          }
          .ham-company-list {
            margin-bottom: 10px;
            a {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 55px;
              margin-bottom: 6px;
              position: relative;
            }
            .ham-big {
              background-color: #d3f7f2;
              border: 1px solid #58d5df;
              width: 100%;
            }
            .ham-small {
              background-color: #ffffff;
              border: 1px solid #58d5df;
              width: 49%;
              border-radius: 10px;
              span {
                position: absolute;
                right: 0px;
              }
            }
          }

          .ham-btn-list {
            margin-bottom: 10px;
            a {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 75px;
              margin-bottom: 6px;
              position: relative;
            }
            .ham-faq {
              background-color: #58d5df;
              border: 1px solid #58d5df;
              width: 65%;
              img {
                width: 10%;
                height: auto;
              }
            }
            .ham-link {
              background-color: #ffffff;
              border: 1px solid #58d5df;
              width: 34%;
            }
            .ham-contact {
              width: 100%;
              background-image: linear-gradient(
                90deg,
                rgba(51, 143, 230, 1) 0%,
                rgba(88, 213, 223, 1) 50%,
                rgba(51, 143, 230, 1) 100%
              );
              background-size: 200% auto;
              span {
              }
            }
          }
        }
      }
    }
  }

  header {
    display: none !important;
  }

  main {
    .row > div.col {
      width: 18%;
      padding-left: 0;
      padding-right: 0;
    }

    span.f_16 {
      font-size: 2.6vw;
    }

    .container {
      padding-left: 1vw;
      padding-right: 1vw;
      h2 {
        position: absolute;
        writing-mode: vertical-rl;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        font-size: 4vw;
        white-space: nowrap;
        padding-top: 4vw;
        padding-left: 1vw;
      }


      .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 8vw;
        margin-bottom: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        &:nth-of-type(even) {
          background-color: #cccccc;
        }
        div {
          p.f_22 {
            font-family: "Noto Sans JP";
            font-weight: normal !important;
            font-size: 3.2vw;
            line-height: 1.4;
          }
          span.f_16 {
            font-size: 2vw;
            font-family: "Noto Sans JP";
            font-weight: normal !important;
            line-height: 1.4;
            display: block;
          }
        }
      }


      article.row {
        flex-wrap: nowrap;
        height: 55vw;
        margin-bottom: 4vw;
        div.col {
          margin-right: -6vw;
          img {
            height: 18vw;
            width: 18vw;
            margin-bottom: 1vw;
          }
          p {
            font-size: 2.8vw;
            line-height: 1.2;
          }
        }
      }
    }


  }
}
@media screen and (max-width: 370px) {
  .se {
    display: block !important;
  }
  .se-flex {
    display: flex !important;
  }
}
